/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}



/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #6E0C1C; /* couleur bordeaux */
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}


/* Container */
.container {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Form */
form input[type="file"] {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
}

button {
  background-color: #6E0C1C;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #6E0C1C;
}

/* Results */
.result-card {
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  border-left: 4px solid #007bff;
}
